.main{
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
    background-color: #1F1E31;
}

.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #585858;
}

.main .nav img{
    width: 40px;
    border-radius: 50%;

}

.main-container{
    max-width: 900px;
    margin: auto;
}

.main .greet{
    margin: 50px 0px;
    font-size: 56px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 20px;
}

.main .greet span{
    background: -webkit-linear-gradient(16deg,#4b90ff,#ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.main .cards{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    padding: 20px;
    
}

.main .card{
    height: 150px;
    padding: 15px;
    background-color: #363E47;
    border-radius: 10px;
    position: relative;
    border-left: 5px solid #EAECEF;
}

.main .card img{
    width: 35px;
    padding: 5px;
    position: absolute;
    background-color: #EAECEF;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
}

.main .card p{
    color: #d3baba;
    font-size: 17px;
}

.main .card:hover{
    background-color: #2d333b;
}

.main-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin: auto;
    padding-bottom: 30px;
}

.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #153558;
    padding: 10px 20px;
    border-radius: 50px;
}

.search-box img{
    width: 35px;
    padding: 8px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.search-box img:hover{
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.search-box input{
    color: white;
    flex: 1;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px;
}

.search-box div{
    display: flex;
    align-items: center;
    gap: 15px;
}

.result {
    padding: 0px 5%;
    max-height: 70vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.result::-webkit-scrollbar{
    display: none;
}

.result-title{
    margin: 40px 0px;
    display: flex;
    align-items: center;
    gap:20px;
    align-self: flex-end;   
}


.result img {
    width: 40px;
    border-radius: 50%;
}

.result-data{
    display: flex;
    align-items: start;
    gap: 20px;
}

.loader{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loader hr{
    border-radius: 4px;
    border:  none;
    background-color: #f6f7f8;
    background: linear-gradient(to right,#9ed7ff,#ffffff,#9ed7ff);
    background-size: 800px 50px;
    height: 20px;
    animation: loader 3s infinite linear;
}

@keyframes loader{
    0%{
        background-position: -800px;
    }
    100%{
        background-position: 800px 0px;
    }
}

.result-data p{
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8;
}


