p {
  color: #ffffff;
}

.sidebar {
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 15px;
    background-color:  #2B2F4C;
}

.sidebar img{
    width: 20px;
    border-radius: 50px;
}

.sidebar .menu{
    padding: 10px;
    width: 50px;
    height: 50px;
    display: block;
    cursor: pointer;
}

.sidebar .menu:hover{
     background:#27a5ff;
    transition: all 0.3s ease-in-out;
    
}

.sidebar .new-chat{
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    gap:10px;
    padding: 10px 15px;
    background-color: #e6eaf1;
    border-radius: 50px;
    font-size: 14px;
    color: grey;
    cursor: pointer;
}

.sidebar .recent{
    display: flex;
    flex-direction: column;
}

.sidebar .recent-title{
    margin-top: 30px;
    margin-bottom: 20px;
}

.sidebar .recent-entry{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color: #282828;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}


.sidebar .recent-entry:hover{
     background: rgba(255, 255, 255, 0.12);
    transition: all 0.3s ease-in-out;
}

.sidebar .bottom{
    display: flex;
    flex-direction: column;
}

.sidebar .bottom-item{
    padding-right: 10px;
    cursor: pointer;
}

@media (max-width:600px){
    .sidebar{
        display: none;
    }
}

@media (max-width:600px){
    .main-bottom input{
        flex: none;
        width: 150px;
    }
    .main-bottom img{
        width: 20px;
    }
    .search-box{
        padding: 5px 10px;
    }
    .search-box div {
        gap: 5px;
    }
}